.dashboard{
    display: grid;
    grid-template-rows: 100 3fr;
    grid-template-columns: 1fr 300 300;    
    gap: 1px;                                 
    background: #ffffff;                    
}

header {
    grid-row: 1/2;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: white;
    min-height: 100vh;
    box-sizing: border-box;
}

li {
    list-style: none;
}



.sidebar {
    grid-row: 2/3
}


footer {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    
}

footer .material-symbols-outlined {
    font-size: 48px;
}
