.dashboard{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    gap: 10px;                                 
    background: #ffffff;                    
}
 
* {
    margin: 0;
    padding: 0;
}
header {
    grid-row: 0/1;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    min-height: 100vh;
    box-sizing: border-box;
}
body.material-symbols-outlined{
    font-size: 50px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    text-align: left;
}

.side_forder{
    grid-row: 3/4;
    text-align: left;
}

.sidebar {
    grid-row: 2/3;
    text-align: left;
}

footer{
    grid-row: 4/5;
    text-align: center;
}

.todo_op{
    background: rgb(198, 198, 198);
    
}


section.title{
    display: flex;
    align-items: left;
    margin: 0;
}

.todo_op .title {
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    border: 0;
}

time {
    grid-row: 1/2;
    grid-column: 2/3;
    font-weight: 200;
    color: rgb(118, 115, 115);
    font-size: 15px;
}

.search_bar {
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
    color: white;
}

.todo_op input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid;
    margin: 10px 0;
    padding: 10px 12px;
}