:root{
    --color_blue : #135bec;
    --color_paleblue : #5a99ff;
}

.dashboard{
    display: grid;
    grid-template-rows: 100px 200px 1fr 200px;
    grid-template-columns: 300px 1fr 300px;                              
    background: var(--color_paleblue);
    min-height: 100vh;                  
}
 
* {
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    grid-row: 0/1;
    background: white;
    font-size: 20px;
    align-items: center;
    font-weight: bold;
    border-top:solid 2px #5a99ff;
    border-right:solid 2px #5a99ff;
}

header .material-symbols-outlined {
    font-size: 50px;      
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    color: var(--color_blue);
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.sidebar p{
    margin-left: 15px;
    font-weight: bold;
}

ul {
    margin-top: 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    cursor: pointer;
}

li .menu {
    margin-left: 15px;
}

.sidebar ul {
    position: absolute;
    list-style: none;
    text-align: left;
    color: rgb(0, 0, 0);
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    margin-left: 15px;
}

.sidebar li  {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
}

.side_forder p{
    padding: 0;
    display: flex;
    justify-content: left;
    margin-left: 15px;
    cursor: pointer;
    border: none;
}

.side_forder span{
    margin-left: 15px;
}

.side_forder{
    padding-top: 10px;
    background: white;
    grid-row: 3/4;
    text-align: left;;
    border-right:solid 2px #5a99ff;
}

.side_forder p {
    margin-left: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

.sidebar {
    padding-top: 10px;
    grid-row: 2/3;
    text-align: left;
    background: white;
    position: relative;
    border-bottom:solid 2px #5a99ff;
    border-top:solid 2px #5a99ff;
    border-right:solid 2px #5a99ff;
}

footer{
    background: rgb(255, 255, 255);
    grid-row: 4/5;
    text-align: center;
    padding-top: 15px;
    border-right:solid 2px #5a99ff;
}

footer button {
    cursor: pointer;
    margin-top: 130px;
    width: 80%;
    height: 20%;
    background: #135bec;
    color: white;
    border-radius: 14px;
    border: solid 1px rgb(192, 192, 192);
    font-weight: bold;
}

footer button :hover{
    transform: translateY(-5px);
}






.todo_op{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    background: rgb(198, 198, 198);
    grid-row: 1/4;
}

.title p {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 60px;
}

.title time {
    font-size: 30px;
    grid-row: 2/3;
    grid-column: 1/2;
    font-weight: 200;
    color: rgb(118, 115, 115);
}


.title {
    font-weight: 400;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 70px 80px;
    padding-left: 50px;
    padding-top: 20px;
}


.todo_op input {
    min-width: 450px;
    max-width: 100%;
    border-radius: 5px;
    border: 1px solid;
    margin: 10px 0;
    padding: 10px 44px 10px 12px; /* 아이콘 공간 확보 */
}

.title .search_bar {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: 0;             /* 핵심 */
    align-self: center;    /* 세로 가운데 */
    display: flex;
}

.search_bar .material-symbols-outlined {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}





